event-touch {
    .playable-canvas {
        border: 1px solid #4d4e53;
        border-radius: 2px;
        height: 80vh;
        width: 80vw;
    }
    .main {
        height: 80vh;
        width: 80vw;
    }
}
