<ion-header>
  <ion-navbar>
    <ion-title>
      Event Listener
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>
    Faire des événements sur la zone de dessin
  </h2>
  <br>
 <event-touch></event-touch>
</ion-content>
